#duynv_toolbar{
	position: fixed;
	bottom: 20px;
	left: 400px;
	background: #fafafa;
	/*! height: 60px; */
	border-radius: 4px;
	box-shadow: 3px 1px #fafafa;
	border: 1px solid #ebebeb;
	padding: 10px 5px;
}


.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.modal-dialog-fullscreen {
  width: 98% !important;
  height: 92% !important;
  min-width: 98% !important;
  min-height: 92% !important;
  max-width: 98% !important;
  max-height: 92% !important;
  padding: 0 !important;
}

#suggest-list-html ul li{
  list-style: none;
}

#suggest-list-html ul {float: left;padding: 0px;}

#suggest-list-html ul li {
    list-style: none;
    float: left;
    margin: 0px 5px;
}
